/* Select all columns and style them so we can see them */
body{
	padding: 10px;
}
[class*="col-"]{
  border:2px solid red;
  border-radius:12px;
  text-align: center;
  line-height: 75px;
}

/* A handful of background colors for differentiating columns */

.green{
  background-color:green;
  padding: 8px 0;
}
.red{
  background-color:red;
}
.purple{
  background-color:purple;
}
.orange{
  background-color:orange;
}
.blue{
  background-color:blue;
}
.yellow{
  background-color:yellow;
}